@import 'doc';
@import 'hljs';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(69, 90, 100, 0.2);
}

input {
  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset !important;
  }
}

.github-readme {
  img {
    width: auto;
    height: 200px;
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.nstration {
  color: #8492a6;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
}

img.badge {
  border-radius: 0;
  width: auto;
  height: 28px;
  margin: 0;
}