import './index.less'

export default {
  name: '{{UpperCamelCase name}}',
  inheritAttrs: false,
  props: {
    
  },
  data() {
    return {
     
    }
  },
  computed: {},
  mounted() {},
  beforeDestroy() {},
  methods: {},
  watch: {},
  render() {
    //const { $slots } = this
    return (
      <div class={['{{ dashCase name }}']}>
        {{ dashCase name }}
      </div>
    )
  }
}